html, body {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #01659e;
  padding: 1% 0;
  font-size: 1.5em;
  font-family: 'Bungee', cursive;

}



.navbar-brand img {
  max-width: 250px;
  max-height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
  left: -50px;
  top: -80px;
}

.navbar-default .navbar-nav li a {
  color: #D5D5D5;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active1 {
  color: #FFF;
}



.landing-text h1 {
font-family: 'Bungee', cursive;
font-size: 12vw;
color: white;


}
#newyork  {
  background: url(img/ny.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

#london {
  background: url(img/london.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

#tokyo {
  background: url(img/tokyo.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}
#riode {
  background: url(img/rio.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}
#cape {
  background: url(img/johan.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}
#sydney {
  background: url(img/sydney.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}



.padding {
  padding: 80px 0;
}

.padding img {
  width: 100%;
}


footer {
  width: 100%;
  max-height: 30%;
  background-color: #01659e;
  padding: 5% 5% 10% 5%;
  color: #FFF;
}
.fa {
  padding: 15px;
  font-size: 2vw;
  color: #FFF;
}
.fa:hover {
  color: grey;
  text-decoration: none;
}
.icon {
  max-width: 200px;
}

@media (max-width: 768px) {

  .fa {
    font-size: 30px;
    padding: 10px;
  }

}
